@font-face {
	font-family: BabyCoffee;
	src: url(./assets/fonts/Baby_Coffee.woff);
}

@font-face {
	font-family: Monserrat;
	src: url(./assets/fonts/Montserrat.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Monserrat;
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
}

/* Header */

h1 {
	font-family: BabyCoffee;
	font-size: 45px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #7d0d23;
	color: white;
	padding: 10px;
}

#links_header {
	display: flex;
	align-items: center;
}

#links_header ul {
	display: flex;
	align-items: center;
}

#links_header ul li {
	margin: 5px;
}

.anchor_link:hover {
	font-weight: bold;
	cursor: pointer;
}

.icon_container:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.divider {
	height: 25px;
	border: 1px solid rgba(255, 255, 255, 0.794);
	margin: 0px 5px;
}

.icon_container {
	width: 25px;
}

/*  */

/* Jumbotron */

#jumbotron {
	height: 500px;
	background-image: url(./assets/images/flowered_coffee.jpg);
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
	border-bottom: 2px solid #7d0d23;
	text-shadow: 2px 0 #7d0d23, -2px 0 #7d0d23, 0 2px #7d0d23, 0 -2px #7d0d23,
		1px 1px #7d0d23, -1px -1px #7d0d23, 1px -1px #7d0d23, -1px 1px #7d0d23;
}

#jumbotron_title {
	font-size: 50px;
	font-weight: bolder;
}
#jumbotron_subtitle {
	font-size: 40px;
	font-weight: bolder;
}

/*  */
